*{
    margin:0;
    padding:0;
}
.card1{
    background-image: url("../images/wd2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;  
}
.jumbotron{
    background: rgba(73, 14, 14, 0.4);
    height:30px;
}
.jumbotron h3{
    color:black;
    text-align:center;
    float: left;
    font-size: 20px;
    font-weight:700;
    margin-top:0px;
}
 nav{
    float: right;
} 
 ul{
    text-align:right;
    margin-left:40px;


}
 ul li{
    list-style: none;
    display: inline-block;
    padding-top:0px;
    padding-left:10px;
    padding-right:10px;
    line-height: 50px;


}
ul li a{
    display:block;
    text-decoration:none;
    color:black;
    font-size:30px;
    font-weight:700;
    
    
}
ul li a:hover{
    color:red;
}
.wrapper{
    margin:0 auto;
    width:805px;
    background: rgba(36, 32, 32, 0.4);
    text-align:center;
}
.wrapper img{
    margin-top: 30px;
    margin-bottom:30px;
}
.menuh{
    text-align:center;
    margin-top:20px;
}
ul li button{
    margin-bottom:40px;
}
.carousel-item>img{
    text-align:center;
    width:1px;
    padding-left: 60px;
    padding-right:60px; 
    padding-bottom:20px;
    
}
.footer{
    background-color: black;
    color:white;
    text-align: center;
}
/* menu styling */
.card2{
    background-image: url("../images/wd1.jpg");
}
.jumbotron1{
    background-color: gray;
    
    
}
.nav1{
    text-align:center;
    background:rgba(24, 23, 23, 0.4);
    padding-top:20px;

}
.menu-cont{
    text-align: center;
}
.menu-cont h2{
    color:white;
}
.menu-cont a{
    font-size: 30px;
    font-weight:700;
    margin-left: 70%;
    text-decoration: underline;
    text-shadow: 1px 0px 20px #ffd200;
   -webkit-transition: 1s linear 0s;
   -moz-transition: 1s linear 0s;
   -o-transition: 1s linear 0s;
   transition: 1s linear 0s;
   outline: 0 none;
   animation: glow 1s ease-in-out infinite alternate; 
}

.menu-cont a:hover{
    color:white;
}

#po{
    margin-top:20px;

}
.multiselect {
    width: 100%; 

  } 
  
   .selectBox {
    position: relative;
  } 
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  select{
      width:50%;
  }
  label{
      color:yellow;
  }
  #textPrice{
    box-sizing: border-box;
    padding:10px;
    border: 1px solid #ff8000;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 3px black;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 30px;    
  }
  #checkboxes p{
      color:white;
      font-weight:700;
  }
  .card3{
    background-size:cover;
    text-align: center;
    padding-bottom:100px;
    margin-top: 40px;
    padding-top: 30px;
}
.frm1 h4{
    margin-top:50px;
    color:white;
    font-weight: 800;
    text-align: center;
    font-size:40px;
}
.frm1 p{
    color:white;
    text-align: center;
    font-weight: 700;
    margin:20px;
}
.frm1 form textarea{
    margin-top:20px;
    width:800px;
}
.frm1 form input{
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    color:white;
}

 